.menuBar {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  width: 50%;

  .fa,
  .fas {
    font-weight: 900;
    color: rgba($color: #e0e0e0, $alpha: 1);
    cursor: pointer;
  }
}
.logoNavbar {
  background-color: #000;
}
.sliderbars {
  display: flex;
  justify-content: flex-end;
}
.navMenuShopIcon {
  color: #e0e0e0;
}
// start of sliderbar code Area
.navbar {
  // background-color: #e3e4ec;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navMenu {
  background-color: whitesmoke;
  width: 45%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 1;
}
.navMenu.active {
  right: 0;
  transition: 350ms;
  z-index: 1;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
.outOfMenu {
  background-color: #0000007d;
  width: 55%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: 850ms;
  left: -100%;
  &.active {
    left: 0;
    transition: 350ms;
  }
}
